<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobFinder</title>
    <script src="https://kit.fontawesome.com/3516325475.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index" id="index-nav">JobFinder</a>
            <partial name="_SearchPartial" />
            <partial name="_LoginPartial" />
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>